/*
 * FILES
 */

params{
   global_reads = "../KiwiTestData/*fq.gz"
   fastqc = true 
   fastqc_module = 'FastQC/0.11.2'
   fastqc_format = 'fastq'
   fastqc_adapters = ''
   fastqc_outdir = "$baseDir/001.fastqc"
   fastq_screen = true
   fastq_screen_template = false
   fastq_screen_outdir = "$baseDir/002.fastq_screen"
   fastq_screen_conf = "$baseDir/fastq_screen_conf/Vitis_Ecoli_fqscreen.conf"
}


