profiles{

 standard{

	params{
		namefastqfileR1= '_R1.fastq' 
		namefastqfileR2= '_R2.fastq'
		species= 'Potatoes'

		reads= "/workspace/cfpcxs/PFRAutomatedWorkflows/RNAseq/Potatoes/*_R{1,2}.fastq" 
		annot= "/workspace/cfpcxs/PFRAutomatedWorkflows/RNAseq/Potatoes/PGSC_DM_V403_fixed_representative_genes.gff"
		genome= "/workspace/cfpcxs/PFRAutomatedWorkflows/RNAseq/Potatoes/PGSC_DM_v4.03_pseudomolecules_ALL.fasta"
		
		SMRNA="/software/bioinformatics/sortmerna-2.1-linux-64"
		DB="${SMRNA}/rRNA_databases"
		INDEX="${SMRNA}/index"

		SORTMERNADB="\
${DB}/silva-bac-16s-id90.fasta,${INDEX}/silva-bac-16s-db:\
${DB}/silva-bac-23s-id98.fasta,${INDEX}/silva-bac-23s-db:\
${DB}/silva-arc-16s-id95.fasta,${INDEX}/silva-arc-16s-db:\
${DB}/silva-arc-23s-id98.fasta,${INDEX}/silva-arc-23s-db:\
${DB}/silva-euk-18s-id95.fasta,${INDEX}/silva-euk-18s-db:\
${DB}/rfam-5s-database-id98.fasta,${INDEX}/rfam-5s-db:\
${DB}/rfam-5.8s-database-id98.fasta,${INDEX}/rfam-5.8s-db"

		Pclip=':2:30:10'
		SlidWindow=':5:20'
		MinL=':50'

		AnnotFormat='--sjdbGTFtagExonParentTranscript Parent'
		
		SegmMin=15
		JunctMin=40
		GapMax=20000
		IntronMax=20000
		outQSconvAdd=-31
		
		userDB='cfphxd_rnaseq'
		passwordDB='yIPGRMPrDjtgUTeu'
		nameDB='cfphxd_rnaseq_counts' 

		scriptTQC="${baseDir}/Scripts/testquality.sh"
		scriptSQL="${baseDir}/Scripts/testSQLD.sh"		
		scriptTabC="${baseDir}/Scripts/testPython.py"

		outdir2= "${baseDir}/020.TrimmingData"
		outdir3= "${baseDir}/030.BamFiles"
		outdir4= "${baseDir}/040.Statistics"
		outdir5= "${baseDir}/050.Index"
		outdir6= "${baseDir}/060.CountsC"
	      }
		
	process{
		executor='lsf'
		withLabel: QC {
			module = 'FastQC'
			publishDir= "${baseDir}/010.QualityControlR"
			
			}
		}
 	}

  IndexN{ 
	params {
                skip='1'
		 }

        }
  IndexE{
	params {
		skip='0'
		index="/workspace/cfpcxs/PFRAutomatedWorkflows/RNAseq/results31/indexDir"
		}
	}

  sample {
	 params{
		A='1'
		subd1='.R1.fq' 
		subd2='.R2.fq'
		size=5000
		}
	}

  sampleN {
         params{
                A='0'
		subd1='_R1.fastq'
                subd2='_R2.fastq'
                }
	   }	
}
